@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~material-design-icons/iconfont/material-icons.css";

body {
  margin: 0px;
  padding: 0px;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%  !important;
}

.content {
  margin: 70px 5px 0px 5px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

/*reused in charts */
.chart-container {
  flex: 1 1 auto;
  overflow: hidden;
  height: calc(100vh - 100px);
  background-color: #f5f5f5;
}

.chart-title {
  margin: 5px 10px 5px 10px;
}

.item-box {
  margin: 3px 5px 3px 5px;
  padding: 3px 5px 3px 5px;

  background-color: #f5f5f5;
}

@mixin tooltip-base {
  position: absolute;
  visibility: hidden;
  pointer-events: none;

  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 5px 5px 5px;

  height: auto;
  z-index: 10;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &:hover {
    .tooltiptext {
      visibility: visible;
    }  
  }

  .tooltiptext {
    @include tooltip-base;
    width: 150px;

    &.right {
      top: -5px;
      left: 105%; 
    }

    &.left {
      top: -5px;
      right: 105%; 
    }

    &.top {
      width: 120px;
      bottom: 100%;
      left: 50%; 
      margin-left: -60px;
    }

    &.bottom {
      width: 120px;
      top: 100%;
      left: 50%; 
      margin-left: -60px;
    }
  }
}

.chart-tooltip {
  @include tooltip-base;
  min-width: 50px;
}