@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~material-design-icons/iconfont/material-icons.css";

/* variables */
$background: #f5f5f5;
$border-color: #cacaca;

/* mixins */
@mixin tooltip-base {
  position: absolute;
  visibility: hidden;
  pointer-events: none;

  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 5px 5px 5px;

  height: auto;
  z-index: 10;
}

@mixin light-border {
  border-style: solid;
  border-width: 1px;
  border-color: $border-color;
}

/* -------------------------------------------------------------------------------------- */
body {
  margin: 0px;
  padding: 0px;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100% !important;
}

.content {
  margin: 70px 5px 0px 5px;
}

/* flex helpers */
.flex-auto {
  display: flex; height: auto;
}

.flex-fill {
  flex: 1 1 auto;
}

.flex-center {
  align-self: center;
}

/* chart styles */
.chart {
  display: flex;
  flex-direction: column;

  overflow: hidden;
  height: calc(100vh - 100px);
  width: 100%;

  background-color: $background;
}

.chart-title {
  margin: 5px 10px 5px 10px;
}

.chart-tooltip {
  @include tooltip-base;
  min-width: 50px;
}

/* item display */
.item-box {
  @include light-border;
  margin: 3px 5px 3px 5px;
  padding: 3px 5px 3px 5px;
  cursor: pointer;

  background-color: $background;
}

.item-box-selected {
  background-color: $border-color;
}

.mat-tooltip {
  background-color: black;
  font-size: 14px;
}

.g-filters {
  @include light-border;
  background-color: $background;

  margin: 4px 0px 4px 0px;
  padding: 5px 10px 5px 5px;
}

/*.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &:hover {
    .tooltip-text {
      visibility: visible;
    }  
  }

  .tooltip-text {
    @include tooltip-base;
    width: 150px;

    &.right {
      top: -5px;
      left: 105%; 
    }

    &.left {
      top: -5px;
      right: 105%; 
    }

    &.top {
      width: 120px;
      bottom: 100%;
      left: 50%; 
      margin-left: -60px;
    }

    &.bottom {
      width: 120px;
      top: 100%;
      left: 50%; 
      margin-left: -60px;
    }
  }
}*/