<mat-form-field style="width: 100%" (keyup.enter)="query()">
  <input #inpQuery matInput placeholder="Query" [formControl]="queryFormControl">
  <mat-error *ngIf="queryFormControl.hasError('backend')">
    Invalid Query: <strong>{{queryFormControl.errors['backend']}}</strong>
  </mat-error>
</mat-form-field>

<mat-grid-list *ngIf="columns.length > 0" [cols]="columns.length" rowHeight="5:1">
  <div *ngFor="let col of columns">
    <mat-grid-tile style="border-width: 0px 0px 1px 0px; border-style: solid; background-color: darkgrey;">{{col}}</mat-grid-tile>
  </div>
  <div *ngFor="let line of dataSource">
    <mat-grid-tile *ngFor="let col of columns">{{line[col]}}</mat-grid-tile>
  </div>
</mat-grid-list>